@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply bg-black;
  }
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: "DM-Sans" sans-serif;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
body {
  background-color: #0c0c1d;
  color: lightgray;
}
